PORT={{ devops_app_port }}

RAILS_LOG_TO_STDOUT={{ devops_app_log_to_stdout }}
RAILS_ENV={{ devops_rails_env }}
NODE_ENV={{ devops_node_env }}

DB_NAME={{ devops_vault_db_name }}
DB_USERNAME={{ devops_vault_db_username }}
DB_PASSWORD={{ devops_vault_db_password }}
DB_HOSTNAME={{ devops_vault_db_hostname }}
